/* estilos gerais */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-AzulMarinho {
  background-color: #47B5E9;
  height: 64px;
  width: 240px;
  left: 0;
  right: 0;
}

.bg-AmareloOuro{
  background-color: #D98E04;
  height: 64px;
  width: 240px;
  left: 0;
  right: 0;
}

.bg-AzulCeleste{
  background-color: #003680;
  height: 64px;
  width: 240px;
  left: 0;
  right: 0;
}

.bg-cinza{
  background-color: #A5A3A3;
  height: 64px;
  width: 240px;
  left: 0;
  right: 0;
}

/* estilo Botão Rolar ao topo */
#botao-topo {
  background-color: #D98E04;
  border: none;
  border-radius: 50%;
  color: #F2F2F2;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#botao-topo:hover {
  animation: pulse 1s ease-in-out infinite;
  opacity: 0.8;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#botao-topo:focus {
  outline: none;
}
 
#botao-topo:before {
  content: "\2191";
  display: block;
  background-image: none;
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  margin-top: -15px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

/* estilos de banner */

.carousel-item {
  background-image: url('../../public/images/slider-01.jpg');
  background-size: cover;
  width: 100% relative;
  height: 500px;
  position: relative;
}

.carousel-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.3);
}

.banner h1 {
  color: #000;
  text-align: center;
}

.banner h1 span {
  font-weight: bold;
}

.banner p {
  color: #000;
  text-align: center;
  font-size: 22px;
}

.banner-text {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.banner-title {
  font-size: 22px;
  font-weight: 300;
  color: #000;
}

.banner-subtitle {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  margin-top: 5px;
}

.banner-cta {
  font-size: 14px;
  font-weight: 300;
  color: #000;
  margin-top: 5%;
}

/* estilos de últimos notícias */

.latest-news {
  background-color: #F5F5F5;
  padding: 5% 0;
}

.espaco-secao {
  margin-right: 0.8%;
}

.bg-titulo{
  color: #FFFFFF;
  background-color: #47B5E9;
}

.bg-registro{
  background-color: #3ba4d4;
  text-indent: 0.5cm;
  color:#D9D9D9;
}

.color-registro{
  color: #fff;
}

.color-titulo{
  color: #FFFFFF;
  font-weight: bold;
  text-align: justify;
}

.link-card{
  text-decoration: none;
}

.latest-news .bar {
  width: 240px;
  height: 64px;
  float: left;
  background-color: #47B5E9;
}

.ver-mais-btn {
  background-color: #47B5E9;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  width: 235px;
  height: 50px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
}


.ver-mais-btn:hover {
  background-color: #3ba4d4;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  width: 235px;
  height: 50px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.latest-news .bar.right {
  float: right;
}

.latest-news .news-container {
  margin-top: 5%;
}

.latest-news .news-container .col {
  width: 33.33%;
  float: left;
  text-align: center;
}

.latest-news .news-container .card {
  width: 360px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.latest-news .news-container .card img {
  max-width: 100%;
  height: auto;
}
/*Sobre-nós*/
.sobre-nos {
  background-color: #FFFFFF;
  padding: 5% 0;
}

/*Corpo Diretivo*/
.corpo-diretivo {
  background-color: #F5F5F5;
  padding: 5% 0;
}
.tm-cartao{
  width: 250px;
  height: 340px;
}

/*Contato*/
.contato {
  background-color: #FFFFFF;
  padding: 5% 0;
}

.btn-contato {
  background-color: #A5A3A3;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  width: 235px;
  height: 50px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
}


.btn-contato:hover {
  background-color: #929191;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  width: 235px;
  height: 50px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
}